body{
    font-family: 'Tourney', cursive;
    font-size: 40px;
    
}
.orange-color{
    color: orange;
}
section p{
   font-family: monospace;
   font-size: 20px;
}
section h4{
    font-family: arial black;
}
.section1{
    display: flex;
    background-image: url(picture/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom:10%;

}
.section1 img{
    width: 80%;
    margin-left: 90px;
}
.sec1div1{
    
    width: 1000px;

}
.button{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    border-radius: 5px;
    font-family: arial black;
    color: white;
    font-size: 70%;
    text-align: center;
    padding: 5px;
}
.section2{
    display: flex;
    
}
.img2{
    width: 80%;
}
.section2{
    padding-bottom: 10%;
    background-image: url(picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

